/* font families
  font-family: 'Pathway Gothic One', sans-serif;
*/

@basecolor: black;
@link: #3181FF;

@prezicolor: #3181ff;
@coandcocolor: red;
@personalcolor: @basecolor;
@teachingcolor: gray;
@studiescolor: blue;

@basepadding: 5px;

@breakpoint1: 500px;
@numberofyears: 35;
@numberoffullyears: 15;

.basefont {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 400;
  color: @basecolor;
}

.displayfont {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  color: @basecolor;
}

html {
  padding: 0;
}

body {
  .basefont;
  font-size: @basepadding * 3;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: @link;
  display: inline-block;
  margin-top: -3px;
}

/* HEADER */

header {
  text-align: center;
  position: fixed;
  width: 100%;
  display: block;
  padding-top: @basepadding * 4;
  box-sizing: border-box;



  h1 {
    .displayfont;
    font-size: 36px;
    margin-bottom: 0px;
    display: block;
    font-size: 50px;
  }

  h2, h3 {
    font-size: @basepadding * 3;
    .basefont;
    font-size: 24px;
    display: block;
  }

  h3 {
  }

}
