/* font families
  OLD
  font-family: 'Montserrat', sans-serif;
  font-family: 'Domine', serif;
  NEW
  font-family: 'Pathway Gothic One', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
*/

html {
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  color: black;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  color: black;
}

header {
  text-align: left;
  position: fixed;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 100;
  box-sizing: border-box;
}

header h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 0px;
  line-height: 1;
  display: inline;
}

header h2, header h3 {
  font-size: 16px;
  margin-left: 12px;
  display: inline;
}

header h3 {
  float: right;
  margin-right: 20px;
}
