/* font families
  font-family: 'Pathway Gothic One', sans-serif;
*/

@basecolor: black;
@link: #3181FF;

@prezicolor: #3181ff;
@coandcocolor: red;
@personalcolor: @basecolor;
@teachingcolor: gray;
@studiescolor: blue;

@basepadding: 5px;

@breakpoint1: 500px;
@numberofyears: 35;
@numberoffullyears: 15;

.basefont {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 400;
  color: @basecolor;
}

.displayfont {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  color: @basecolor;
}

html {
  padding: 0;
}

body {
  .basefont;
  font-size: @basepadding * 3;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: @link;
  display: inline-block;
  margin-top: -3px;
}

/* HEADER */

header {
  text-align: center;
  position: fixed;
  width: 100%;
  display: block;
  padding-top: @basepadding * 4;
  box-sizing: border-box;



  h1 {
    .displayfont;
    font-size: 35px;
    margin-bottom: 0px;
    display: inline;

    @media screen and (max-width: @breakpoint1) {
      display: block;
      font-size: 50px;
    }
  }

  h2, h3 {
    font-size: @basepadding * 3;
    margin-left: @basepadding * 2;
    display: inline-block;
    font-weight: 400;
    background-color: rgba(255,255,255,0.7);

    @media screen and (max-width: @breakpoint1) {
      margin-left: 0;
      display: block;
    }
  }

  h3 {
    float: right;
    margin-right: @basepadding * 4;

    @media screen and (max-width: @breakpoint1) {
      margin-right: 0;
      float: none;
    }
  }
  
}
